.DS_Store
.vscode/*
**/.history

EventGeneration/log/*.log
EventGeneration/error/*.err
EventGeneration/output/*.out

Analyzers/*.pcm
Analyzers/*.so
Analyzers/*.d

Analyzers/Condor/log/*.log
Analyzers/Condor/error/*.err
Analyzers/Condor/output/*.out
Analyzers/Condor/arguments*

Output/*
!Output/.keep
